
<div class="m-0 p-0">
  
    <!--Jumbotron-->
    <div class="w-100 p-4 m-0" style="height: 450px; background-image: url('../../../assets/imgs/bg-img.jpg'); background-repeat: no-repeat; background-size: cover; background-position: bottom; ">
      <nav class="nav nav-barshadow p-2 px-4 sticky-top">
        <div class="navbar-item btn btn-outline-light">
          menu
        </div>
        <div class="w-75"></div>
        <div class="navbar-item btn btn-outline-light"
        routerLink="/cart"
        >
          cart
        </div>
      </nav> 
      <!--Title-->
      <div class="h1 text-warning p-4 w-50 font-weight-bolder mx-auto text-center"
           style="background-color: rgba(17, 16, 16, 0.322);"
      >
        eCommerce Fashion House
      </div>
      <div class="text-light text-center h4 text-uppercase mx-5">
        Elegant   .  Modest . Beautiful   
      </div>
    </div>
    <!--end of Jumbotron-->
  
    <!--Categories section-->
    <div class="container p-2 text-center">
      <div class="h4 p-0 text-monospace text-uppercase">
        Categories
      </div>
      <div class="row">
        <div class="col-3">
          <div class="card category-btn btn border-secondary text-light shadow-lg font-weight-bold py-3 border-bottom-warning"
            style="background-image: url(../assets/imgs/bg2.png); background-repeat: no-repeat; background-size: cover; background-position: bottom;"
          >
            ALL
          </div>
        </div>
        <div class="col-3">
          <div class="card category-btn btn shadow-lg font-weight-bold py-3">
            ABAYA
          </div>
        </div>
        <div class="col-3">
          <div class="card category-btn btn  shadow-lg font-weight-bold py-3">
            ANKARA
          </div>
        </div>
        <div class="col-3">
          <div class="card category-btn btn  shadow-lg font-weight-bold py-3">
            CORPORATE
          </div>
        </div>
      </div>
  
    </div>
  
    <!--Product showcase section-->
    <section>
      <!--Title-->
      <div class="h3 text-grey-900 text-capitalize py-4 mx-5">
        Showing <span class="border-bottom-secondary font-weight-bold ">ALL</span>
      </div>
      <!--Product showcase-->
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6">
          <app-product-card routerLink="/productDetails"></app-product-card>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6">
          <app-product-card></app-product-card>
        </div>
  
      </div>    
    </section>
  </div>