<div class="container text-center h-100">
    <div class="row mx-auto text-center ">
        <div class="col-md-4 col-lg-6 col-xl-6 shadow-lg d-none d-sm-block border my-5 shadow-sm" 
            style="width: 500px; height: 600px; background-image: url('../../../assets/imgs/shopping.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;">
        </div>
        <div class="col-sm-12 col-xs-12 col-md-8 col-lg-6 col-xl-6 shadow-lg border my-5 shadow-sm" style="width: 500px; height: 600px;">
            <div class="h3 p-2 text-warning text-monospace border-bottom-secondary">
                MY CART
            </div>
            <div class="p-2" style="height: 450px;">
                <!--Show when cart is empty-->
                <div *ngIf="Cart.length == 0" class="h3 text-monospace p-2 text-gray-500">Your cart is empty </div>
                
                <!--Show when cart is not empty-->
                <table *ngIf="Cart.length !== 0" class="table text-center text-uppercase"
                >
                <!--Table headings-->
                    <tr>
                        <th>#</th>
                        <th>ITEM</th>
                        <th>PRICE (N)</th>
                        <th>QNTY</th>
                        <th></th>
                    </tr>
                    <tr *ngFor="let item of Cart">
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.price}}</td>
                        <td>
                            <input class="form-control text-center mx-auto" type="number" [value]="item.qnty"/>

                        </td>
                        <td class="text-danger">
                            <div class="btn btn-outline-danger">delete</div>
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <div class="text-uppercase h4">Total price : 0</div>
                <div class="btn btn-outline-success mx-2" routerLink="/home">GO BACK TO SHOPPING</div>
                <div class="btn btn-outline-warning mx-2">CHECK OUT</div>
            </div>
        </div>
    </div>
</div>  