
<div class="m-0 p-0">
  
    <!--Jumbotron-->
    <div class="w-100 p-4 m-0" style="height: 450px; background-image: url('../../../assets/imgs/bg-img.jpg'); background-repeat: no-repeat; background-size: cover; background-position: bottom; ">
      <nav class="nav nav-barshadow p-2 px-4 sticky-top">
        <div class="navbar-item btn btn-outline-light">
          menu
        </div>
        <div class="w-75"></div>
        <div class="navbar-item btn btn-outline-light"
        routerLink="/cart"
        >
          cart
        </div>
      </nav> 
      <!--Title-->
      <div class="h1 text-warning p-4 w-50 font-weight-bolder mx-auto text-center Jumbotron-title"
           style="background-color: rgba(17, 16, 16, 0.322);"
      >
        eCommerce Fashion House
      </div>
      <div class="text-light text-center h4 text-uppercase mx-5">
        Elegant . Modest . Beautiful   
      </div>
    </div>
    <!--end of Jumbotron-->
  
    <!--Categories section-->
    <div class="container p-2 text-center">
      <div class="h4 p-0 text-monospace text-warning py-3">
        Categories
      </div>
      <div class="card-container">
        <div class="card text-uppercase font-weight-bolder text-light category-btn category-selected">
          All
        </div>
        <div class="card text-uppercase font-weight-bolder text-light category-btn">
          Ankara
        </div>
        <div class="card text-uppercase font-weight-bolder text-light category-btn">
          Abaya
        </div>
        <div class="card text-uppercase font-weight-bolder text-light category-btn">
          Corporate
        </div>
      </div>
    </div>

    <!--Products Display section-->
    <div class="container-fluid">
      <div class="h5 p-0 py-3 text-muted text-gray-800">
        Showing results for 
        <span class="text-uppercase border-bottom-warning font-weight-bold border-bottom-secondary">All</span>
      </div>
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6 text-center mx-auto">
      
      
          <app-product-card
            name="test"
            price="45"
            imgUrl="../../../assets/imgs/abaya8.png"
          ></app-product-card>
        </div>
      </div>
    </div>
  </div>